<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://static2.clutch.co/s3fs-public/logos/personalsoft_s.a.s_colombia_logo_0.png" id="icon" alt="User Icon" />
            <h1>PERSONALSOFT</h1>
        </div>

        <!-- Login Form -->
        <form [formGroup]="inicioSesionFrom">
            <input type="text" id="login" class="fadeIn second" formControlName="nombreUsuario" placeholder="username">
            <input type="text" id="password" class="fadeIn third" formControlName="password" placeholder="password">
            <input type="submit" (click)="enviarFormulario()" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Go to the Site</a>
        </div>

    </div>
</div>